.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    min-height: 741px;
}
.titulo-header{
    color: black;
    text-shadow: white 2px 2px;
}
.iconos{
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}
.icono{
    text-align: center;
    color: black;
}
.contenedor-footer{
    display: flex;
}
.logo{
    height: 12rem;
}
.contenedor-redes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: #72706f;
    color: black;
}
.redes{
    color: black;
}
.mapa{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkgrey;
    color: black;
}
.informacion{
    margin-top: 3rem;
    text-align: center;
}
.informacion h1{
    margin-bottom: 2rem;
}
.informacion p{
    margin-bottom: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
.carousel-item img{
    width: 80vw;
    height: 35rem;
}
.carrusel{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.grid-contenedor{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-areas: "A B C"
    "D E F"
    "G H I"
    "J K L";
    gap: 2rem;
    text-align: center;
    justify-content: space-evenly;
}
.A{
    grid-area: A;
}
.B{
    grid-area: B;
}
.C{
    grid-area: C;
}
.D{
    grid-area: D;
}
.E{
    grid-area: E;
}
.F{
    grid-area: F;
}
.G{
    grid-area: G;
}
.H{
    grid-area: H;
}
.I{
    grid-area: I;
}
.J{
    grid-area: J;
}
.K{
    grid-area: K;
}
.L{
    grid-area: L;
}
@media (max-width: 1023px){
    .banner{
        min-height: inherit;
        height: 35rem;
        background-size: cover
    }
    .carousel-item img{
        height: 25rem;
    }
    .grid-contenedor{
        grid-template-areas: "A B"
        "C D" 
        "E F"
        "G H"
        "I J"
        "K L";
        gap: 0.2rem;
    }
    .mapa{
        flex-direction: column;
    }
    .mapa h1{
        margin-top: 2rem;
    }
    iframe{
        width: 90%;
        margin-bottom: 3rem;
    }
}
@media (max-width:599px){
    .iconos{
        flex-direction: column;
        height: 20rem;
    } 
    .contenedor-footer{
        flex-direction: column;
        align-items: center;
        background-color: #72706f;
    }
    .contenedor-redes{
        flex-direction: column;
    }
    .logo{
        height: auto;
        width: 100vw;
    }
    .carousel-item img{
        height: 20rem;
    }
    .grid-contenedor{
        grid-template-areas: "A"
        "B"
        "C"
        "D"
        "E"
        "F"
        "G"
        "H"
        "I"
        "J"
        "K"
        "L";
        gap: 4rem;
         }
        
}
